/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #dbe8f5;
    padding: 20px;
    text-align: center;
}

nav ul.nav-main {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul.nav-main li {
    margin-right: 20px;
}

nav ul.nav-main li.logo a {
    background-color: transparent;
    color: inherit;
    padding: 0;
    box-shadow: none;
    margin-top: -5px;
}

nav ul.nav-main li.logo a img {
    width: 65px; /* Cambia este valor al tamaño deseado */
}

nav ul.nav-main li.logo a:hover {
    background-color: transparent;
    color: inherit;
    transform: translateY(-10px);
}

nav ul.nav-main li.logo a:active {
    transform: translateY(-1px);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    background-color: #8ab6d6;
    color: #fff;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

nav ul li a:hover {
    background-color: #6a94b5;
    color: #fff;
    transform: translateY(-7px);
}

nav ul li a:active {
    transform: translateY(-1px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.content {
    flex: 1;
}

.content h2 {
    margin-top: 0;
}

.image img {
    max-width: 100%;
    height: auto;
}

#productos {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.marca-exclusiva {
    text-align: center;
    margin: 50px 0;
}

.marca-exclusiva h2 {
    margin-top: 0;
}

.marca-exclusiva img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #dbe8f5;
}


