/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #dbe8f5;
    padding: 20px;
    text-align: center;
}

nav ul.nav-main {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul.nav-main li {
    margin-right: 20px;
}

nav ul.nav-main li.logo a {
    background-color: transparent;
    color: inherit;
    padding: 0;
    box-shadow: none;
    margin-top: -5px;
}

nav ul.nav-main li.logo a img {
    width: 65px; /* Cambia este valor al tamaño deseado */
}

nav ul.nav-main li.logo a:hover {
    background-color: transparent;
    color: inherit;
    transform: translateY(-10px);
}

nav ul.nav-main li.logo a:active {
    transform: translateY(-1px);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    background-color: #8ab6d6;
    color: #fff;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

nav ul li a:hover {
    background-color: #6a94b5;
    color: #fff;
    transform: translateY(-7px);
}

nav ul li a:active {
    transform: translateY(-1px);
}

.product-info {
    margin: -10px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.btn_cotizar {
    display: inline-block;
    background-color: #8ab6d6;
    color: #fff;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn_cotizar:hover {
    background-color: #6a94b5;
    color: #fff;
    transform: translateY(-7px);
}
.btn_cotizar:active {
    transform: translateY(-1px);
  }

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-details {
    padding: 20px;
}

.product-price {
    text-align: center;
    margin-top: 20px;
}

.product-price .btn {
    margin-left: 10px; /* Espacio entre botones */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #dbe8f5;
    position: relative;
    bottom:0;
    min-height: (100%-80px);
}
.btn_Inicio {
    
    position: relative; /* Agregar posición relativa para usar top, left, etc. */
    top: -90px; /* Cambiar la posición vertical */
    left: 125px; /* Cambiar la posición horizontal */
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block; /* Cambiar a inline-block para que ocupe solo el ancho de la imagen */
}

.btn_Inicio:hover {
    transform: translateY(-10px);
}

.btn_Inicio:active {
    transform: translateY(-1px);
}

.btn_Inicio img {
    width: 45%;
}



#contacto h2 {
    color: #000000;
    text-align: center;
}

/* Estilos para los campos de texto y labels */
.form-group {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    margin-bottom: 15px;
    
    
}

label {
    flex: 1; /* Ocupa el 100% del espacio disponible */
    margin-right: 10px; /* Añade un espacio entre el label y el campo de texto */
    text-align: right; /* Alinea el texto a la derecha */
    color: #000000; /* Color negro para el texto del label */
}

input[type="text"],
textarea {
    flex: 2; /* Ocupa el doble de ancho que el label */
    max-width: 300px; /* Máximo ancho para mantenerlo proporcionado */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 200px;
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    background-color: #8ab6d6;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6a94b5;
}

/* Estilos para el contenedor del botón de enviar */
.form-group button[type="submit"] {
    margin: 0 auto; /* Centra horizontalmente el botón */
    display: block; /* Hace que el botón sea un elemento de bloque */
}

/* Estilos específicos para el formulario de contacto */
#contacto-form {
    max-width: 400px; /* Máximo ancho para mantenerlo proporcionado */
    margin: 0 auto; /* Centra horizontalmente el formulario */
    padding: 20px; /* Espaciado interno del formulario */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo del formulario */
    border-radius: 5px; /* Borde redondeado del formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}